# default npm SAP repo
@sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/
registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/
package-lock=false
